
$black: #000;
$white: #fff;

$petrol: #0d5959;
$petrol-light: #148c8c;
$opaque-petrol: rgba($petrol,0.10);
$opaque-no-trans: #eaefed;
$blue: #0071bc;
$grad-blue: #00a99d;
$orange: #e87915;

$light-grey-2: #f9f9f9;
$light-grey: #f4f4f4;
$grey: #ddd;
$grey-2: #ccc;
$grey-3: #eee;
$dark-grey: #999;


$purple: #700fbc;
$yellow: #f4b12c;
$green: #0b7a2d;

$red: #ff5252;
$submit-green: #3aa531;