/*General Rules*/

//Makes border-box properties
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.55;
  font-family: $ubuntu;
  font-weight: 400;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: inherit;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

:focus {
  outline: 0;
}


h3 {
  font-size: $xxsm-medium;
}
h4 {
  font-size: $l-medium;
}
.hidden {
  display: none;
}
